GROQ_API_KEY_1=your_first_groq_api_key
GROQ_API_KEY_2=your_second_groq_api_key
GROQ_API_KEY_3=your_third_groq_api_key
GROQ_API_KEY_4=your_fourth_groq_api_key
GROQ_API_KEY_5=your_fifth_groq_api_key

ANTHROPIC_API_KEY=your_anthropic_api_key_here
